<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.foxleezh.blog.memodule">

    <application
        android:name="com.foxleezh.middleware.ModuleApplication"
        android:icon="@drawable/m_news_ic_launcher"
        android:label="@string/m_news_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
    >
        <activity
            android:name="com.foxleezh.middleware.CompatActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.SwipeBackLayout"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="fragmentName" android:value="com.foxleezh.blog.fragments.MeFragment"/>
        </activity>


    </application>

</manifest>